{% extends "base.html" %}

{% block title %}Eliminar Servicio{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Eliminar Servicio</h1>
    <p class="text-center">¿Estás seguro de que deseas eliminar el servicio de <strong>{{ servicio.equipo }}</strong> asignado al técnico <strong>{{ servicio.tecnico }}</strong>?</p>

    <!-- Mensajes de confirmación para eliminación -->
    {% if messages %}
        <div class="my-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="text-center">
        <form method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
        <a href="{% url 'lista_servicios' %}" class="btn btn-secondary">Cancelar</a>
    </div>
</div>
{% endblock %}